# CODEOWNERS
# 默认所有者
*       @badhope

# GitHub 配置
/.github/        @badhope

# 文档与构建产物
/docs/           @badhope
/README.md       @badhope
CHANGELOG.md     @badhope

# 前端应用
/miru-app/       @badhope
